@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lexend+Deca&display=swap');

*{
  background: hsl(233,47%,7%);
  box-sizing: border-box;
  color: white;
  font-size: 15px;
}

body{
height: 1200px;

}

.wrapper{
  height: 900px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mainBox{
  width: 75%;
  height: 550px;
  border-radius: 10px;
  display: flex;
  background: hsl(244,38%,16%)
}

.imgBox{
  width: 700px;
  height: 550px; 
  border-radius: 0px 10px 10px 0px;
  background-image: url(./assets/desktop.jpg);
  background-repeat: no-repeat;
  background-color: hsla(277,64%,61%, 0.9);
  background-blend-mode: multiply;
  background-size: cover;
  opacity: 0.62;
  filter:brightness(1.2)
}

.textBox{
  background: transparent;
  padding: 4em 6em 14em;
  display: flex;
  flex-direction: column;
  flex:1;
  height: auto;
}
.breakLine{
background: inherit;

}

.breakLine:before{
  content:"\A";
  white-space: pre;
}
.title{
  font-family: "Inter", sans-serif;
  font-size: 2.5em;
  font-weight: 700;
  background: transparent;
  margin-bottom: 1em;

}

.powerfull{
  font-size: 1em;
  color: hsl(277,64%,61%);
  background: transparent;
}

.content {
  background: transparent;
  font-size: 1.2em;
  font-family: "Lexend Deca", sans-serif;
  color: hsla(0,0%,100%, 0.75);
  line-height: 1.6;
  margin-bottom: 6em;
}

.breakLine, .firstBreak{
font-size: inherit;
color: inherit;
background: inherit;
}

.footerCard{
  background: transparent;
  display:flex;
  justify-content: space-between;
}

.footerData{
  background:transparent;
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 50px;
  margin-bottom:3em;
  
}

.footerData p{
  background:inherit;
  text-transform:uppercase;
  font-family: "Lexand Deca", sans-serif;
  color: hsla(0,0%,100%, 0.6);
  margin-top: 0.8em;
}

.numData{
  background: inherit;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.8em;
}

  @media screen and (max-width:700px){

  .mainBox{
  height: 850px;
  width: 360px;
  flex-direction: column;
  }

  .textBox{
  order: 1;
  padding: 0em 2em;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  }

  .title{
  font-size: 2em;
  text-align: center;
  margin-top: 1em;
  margin-bottom: 1em;
  }

  .content{
    text-align: center;
    font-size: 1em;
    margin-bottom: 2em;
  }

  .breakLine:before{
  content:'';
  }

  .breakLine:after, .firstBreak:after {
  content:'\A';
  white-space: pre;
  }

  .footerCard{
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  }

  .footerData{
  margin-bottom: 3em;
  text-align: center}

  .footerData p {
  font-size: 0.8em;
  line-height: 0.5;
  font-weight: 600;
  color: hsla(0,0%,100%, 0.5)

  }

  .imgBox{
  width: 360px;
  height: 300px;
  border-radius: 10px 10px 0px 0px;
  background-image: url(./assets/imgMobile.jpg);
  background-size: cover;
  order: 0;
  }

}
